<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" >
      <assemblies>
       
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />

  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="8388608" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
     
    </client>
   
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
       
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
     <add name="Json-Integrated-4.0" path="*.jsdata" verb="*" type="PostBank.Ajax.DataHandler" resourceType="Unspecified" preCondition="integratedMode"/>
     
    </handlers>
    <security>
      <requestFiltering>
        <fileExtensions>
        
          <add fileExtension=".jsdata" allowed="true"/>
         
        </fileExtensions>
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="json/application" />
    </staticContent>
  </system.webServer>
  <appSettings>
  
  </appSettings>
</configuration>
